%div.hero-unit
  %div 
    %p Aplikacja nEditor została stworzona na potrzeby pracy magisterskiej i jest jej integralną częścią. Praca została przedstawiona do obrony na kierunku Informatyka na Wydziale Fizyki, Astronomii i Informatyki Stosowanej Uniwersytetu Jagiellońskiego w Krakowie we wrześniu 2012 roku. Aplikacja działa w czasie rzeczywistym, a zmiany w tekście mogą być dokonywane przez wielu użytkowników jednocześnie. Kod aplikacji udostępniany jest na <a href="http://opensource.org/licenses/bsd-3-clause">licencji BSD</a> i można otrzymać go na mailową prośbę.
  %br
  %div
    Do poprawnego działania wymagana jest przeglądarka:
    %ul
      %li Firefox >= 6.0
      %li Chrome >=14.0
      %li Safafi >= 6.0
      %li Internet Explorer >=10
      %li Opera >=12.1
  %br
  %address
    %strong 
      Autor:
    %br
    Natalia Stanko 

  %address
    %strong 
      Email:
    %br
    anithaly@gmail.com
   
