%div.page-header
  %h2 Nowy dokument

=form_for(@document) do |f|
  
  %div.field
    =f.label :title, "Tytuł"
    =f.text_field :title
    =f.error_message_on(:title)

  %div.actions
    = f.submit "Kontynuuj", :class => 'btn'
