/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require layout
*/

body > .container{
  padding:20px 0;
}

div.contentEditor {
/*  border: 1px #ccc solid;*/
  min-height: 15px;
/*  padding: 10px;
  margin: 0 0 10px 0;*/
  outline: none;
 /* white-space: pre;*/
}

footer.footer{
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

.hidden {
  display:none;
}

div.hero-unit{
  h1{
    font-size:42px;
    margin-bottom:10px;
  }
}

div#editor {
  border: 1px #ccc solid;
  padding: 10px;
}

table.table td {
 vertical-align: middle;
}

td.action form {
  margin: 0;
  text-align: center;
}
